.mask{
    width: 100%;
    height: 100vh;
    position: relative;
}
.into-img{
    width: 100%;
    height: 100%;
    border-style: cover;
    background-position: center;
    object-fit: cover;
}
.mask::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
}
.hero .content{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}
.hero .content .me{
    height: 15rem;
    width: 15rem;
    padding: 0.6rem 0 1.5rem;
    border-radius: 117px;
}
.hero .content p{
    padding-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 200;
    text-transform: uppercase;
}
.content .btn{
    margin: 1rem 0.2rem;
}